# Unity generated / local
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
*.csproj.user
*.unityproj
*.sln.DotSettings.user

# OS
.DS_Store
Thumbs.db
